@charset "UTF-8";
/* 共通部分 */
html {
    font-size: 100%;
}
body {
     font-family: "Yu gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
     line-height: 1.7;
     color: #000;
}
a {
     text-decoration: none;
}
img {
     max-width: 100%;
}
/* header */
header {
    background-color: #87CEFA;
    width: 100%;
}
.logo {
    width: 150px;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1rem;    
    text-transform: uppercase;
    margin-top: 38px;
    list-style: none;
    font-family: serif;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover {
    color: #fff;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {

    margin: 0 auto;
    padding: 0 4%;
}

/* home */
.home-content {
    text-align: end;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 15%;
    text-shadow: 1px 2px 3px #808080;
    background-image: url(../images/header-bg.png);
    background-size: cover;
    height: 600px;
    width: 100%;
    
}
.home-content p {
    font-size: 1.7rem;
    margin: 3px 20 42px;
}
/* 見出し */
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
    margin: 
}



#home .page-title {
    text-transform: none;
}

/* concept */
ul concept {
    display: flex;
}
.concept-mdi {
    display: none;
    padding-top: 10%;
}
.concept-mdi h2 {
    text-align: center;
    font-size: 1.6rem;
    font-family: serif;
}
.concept-mdi p {
    text-align: center;
    font-size: 0.7rem;
}

.concept-img img {
    width: min(650px,100%);
    height: auto;
    margin: 70px 0 30px 140px;
    position: absolute;
}
.box1 {
    position: relative;

    margin       : 7% 0% 10% 55%;
    width        : 350px;
    height       : 300px;
    background   : #ffffff;
    box-shadow: 10px 10px 10px #808080;
}

.box1 h2 {
    text-align: center;
    padding-top: 20%;
    font-size: 2rem;
    font-family: serif;
}
.box1 p {
    text-align: center;
    padding: 30px 30px;
    font-size: 1rem;
    margin-bottom: 70px;
}




/* footer */
footer {
    background: #87cefa;
    text-align: center;
    padding: 25px 0;
    width: 100%;  
}
footer p {
    color: #000;
    font-size: 0.875rem;
}



/* Menu */
.box2 {
    padding: 0.5em 1em;
    margin: 30px auto;
    font-weight: bold;
    border: solid 7px #E8D8BA;
    width: 600px;
    height: 700px;
}

.menu {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 40px 0;
}
.menu h2 {
    text-align: center;
    font-family: serif;
}
.menu dl {
    padding: 15px 90px;
    display: flex;
    justify-content: space-between;
}
.menu dt {
    display: flex;
    justify-content: space-between;
    
}
.menu dd {
    display: flex;
    justify-content: space-between;
    padding:0.4rem;
}

/* stylist */
ul {
    display: flex;
}
.stylist-mdi {
    display: none;
    padding-top: 10%;
}
.stylist-mdi h2 {
    text-align: center;
    font-size: 1.6rem;
    font-family: serif;
}
.stylist-mdi p {
    text-align: center;
    font-size: 0.7rem;
}
.stylist-img img {
    width: min(650px,100%);
    height: auto;
    margin: 30px 0 30px 150px;
    position: absolute;
}
.box3 {
    margin       : 20% 50% 10% 200%;
    position     : relative;
    width        : min(350px,100%);
    height       : 300px;
    background   : #ffffff;
    box-shadow: 10px 10px 10px #808080;
}

.stylist-img h2 {
    text-align: center;

    padding-top: 40px;
    font-size: 2rem;
    font-family: serif;
}
.stylist-img p {
    text-align: center;
    padding: 10%;
    font-size: 1rem;
    margin-bottom: 70px;
}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.item p {
    text-align: center;
}

/* comments */
#comments {
    text-align: center;
}

#comments .page-title {
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: serif;
}

.comments p {
    font-size: 1.75rem;
}

.comments-img {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.c-img {
    width: 222.5px;
    height: 320px;
    margin: 30px 30px 30px 80px;
}

.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 20px; 
    padding: 0;
}

@media screen and (max-width: 768px) {
    .page-title {
        font-size: 2.5rem;
    }

    /* header */

    .main-nav {
        font-size: 0.8rem;
        flex-direction: column;
        margin: 0% 0 5% 0;

    }
    .page-header {
        flex-direction: column;
        text-align: center;
    }

    /* home */
    #home {
        background-size: cover;
        background-position: center;
    }

    .home-content {
        text-align: none;
        text-align: end;
        width: 100%;
        height: auto;
        font-size: 1.5rem;
        padding: 20% 5% 20% 0;
    }
    .home-content p {
        font-size: 1rem;
    }


    /* concept */
    .concept {
        display: block;
    }
    .concept-mdi {
        display: block;
    }
    .concept-mdi p {
        padding: 0 5%;
    }

    .concept img {
        width: 80%;
        height: auto;
        text-align: center;
        margin: 5% 10%;
    }
    .box1 {
        display: none;
    }

    /* menu */
    #MENU {
        padding: 55% 0 0% 0;
    }
    .box2  {
        text-align: center;
        width: 70%;
        height: auto;
    }
    .menu {
        font-size: 1.6rem;
        padding: none;
    }
    .menu dt {
        display: flex;
        justify-content: space-between;
        text-align: center;
     
    }
    .menu dd {
        display: flex;
        justify-content: space-between;
        padding:0.4rem;
    }
    .menu dl {
        padding: 0%;
        display: flex;
        justify-content: space-between;
    }


    /* stylist */
    .ul {
        display: block;
    }
    .stylist-mdi {
        display: block;
        text-align: center;
    }

    .stylist-img img {
        margin: 5% 10%;
        width: 80%;
        height: auto;
        text-align: center;
    }
    
    .box3 {
        display: none;
    }
    .grid {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        padding: 55% 0 0 0;
    }
    .img {
        width: 70%;
        height: auto;
        justify-items: center;
        align-items: center;
    }
    
    /* comments */
    #comments .page-title {
        text-align: center;
    }
    .box17 {
        margin: 0 10% 0 0;
    }

    footer wrapper {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    .page-title {
        font-size: 2.5rem;
    }

    /* header */

    .main-nav {
        font-size: 0.8rem;
        flex-direction: column;
        margin: 0% 0 5% 0;

    }
    .page-header {
        flex-direction: column;
        text-align: center;
    }

    /* home */
    #home {
        background-size: cover;
        background-position: center;
    }

    .home-content {
        text-align: none;
        text-align: end;
        width: 100%;
        height: auto;
        font-size: 1.5rem;
        padding: 20% 5% 20% 0;
    }
    .home-content p {
        font-size: 1rem;
    }


    /* concept */
    ul .concept {
        flex-direction: column;
        text-align: center;
    }
    .concept img {
        width: 80%;
        height: auto;
    }

    .concept-mdi {
        display: block;
    }
    .concept-mdi p {
        padding: 0 5%;
    }

    .concept img {
        width: 80%;
        height: auto;
        text-align: center;
        margin: 5% 10%;
    }
    .box1 {
        display: none;
    }

    .box1 {
        display: none;
    }
    

    .box2 {
        padding: 0.5em 1em;
        margin: 30px auto;
        font-weight: bold;
        border: solid 7px #E8D8BA;
        width: 80%;
        height: 80%;
    }
    /* menu */
    .menu {
        width: 70%;
        margin: 0 auto;
        font-size: 1rem;
        padding: 40px 0;
    }
    .menu h2 {
        text-align: center;
        font-family: serif;
        font-size: 1.7rem;
    }
    .menu dl {
        text-align: center;
        display: block;
    }
    .menu dt {
        text-align: center;
    }
    .menu dd {
        display: column;
        justify-content: space-between;
        padding: 0%;
        text-align: center;
    }
    
 
    /* stylist */
    .stylist-img {
        width: 70%;
        height: auto;
    }
    .box3 {
        display: none;
    }

    #comments .page-title {
        text-align: center;
        font-size: 1.6rem;
    }
    .box17 {
        margin: 0;
    }
    .comments-img {
        margin: 30px;
        display: block;
        text-align: center;
    }
    .c-img {
        margin: 10%;
    }
}

@media screen and (max-width: 1874px) {
}
